.edit-timebox {
  display: flex;

  position: relative;
}

.edit-timebox .slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 90vh;

  position: absolute;
  left: 0;

  transition: all 0.5s;
}

.edit-timebox .slides .slide {
  width: 100vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-timebox .slides .slide .header {
  font-size: 2rem;
  font-weight: bold;
}

.edit-timebox .slides .slide .caption {
  font-weight: 500;
  color: grey;

  margin-top: 0.75rem;
}

.edit-timebox .slides .slide .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-timebox .slides .button-row {
  display: flex;
  gap: 1rem;
}

.edit-timebox .slides .slide-1 .wrapper {
  height: 60vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-timebox .slides .slide-1 .wrapper svg {
  width: 30px;
  height: 30px;
}

.edit-timebox .slides .slide-1 .wrapper .left {
  height: 60vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-timebox .slides .slide-1 .wrapper .left .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.edit-timebox .slides .slide-1 .wrapper .right {
  height: 90vh;
  width: 60vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-timebox .wrapper .right .time-scroll {
  width: 40vw;
  height: 80vh;
}

.edit-timebox .wrapper .right ul {
  width: 40vw;
}

.edit-timebox .wrapper .right ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 40vw;
}

.edit-timebox .wrapper .left ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 35vw;
  padding: 2px;
}

.edit-timebox .slides .slide-1 .desc {
  color: grey;
  font-size: 14px;
  padding: 16px;
}

.edit-timebox .error {
  font-size: 14px;
  color: red;
}

.edit-timebox .hours {
  font-size: 14px;
  padding-bottom: 6px;
}

.edit-timebox .row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3vh;
}

.edit-timebox .text-group {
  margin-bottom: 5vh;
}

.edit-timebox .text-group p {
  font-weight: 500;
  font-size: 1.2rem;
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
