.new-timebox {
  display: flex;

  position: relative;
}

.new-timebox .slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 200vw;
  height: 80vh;

  position: absolute;
  left: 0;

  transition: all 0.5s;
}

.new-timebox .slides.index-1 {
  left: -100vw;
}

.new-timebox .slides .slide {
  width: 100vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.new-timebox .slides .slide .header {
  font-size: 2rem;
  font-weight: bold;
}

.new-timebox .slides .slide .caption {
  font-weight: 500;
  color: grey;

  margin-top: 0.75rem;
}

.new-timebox .slides .slide .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-timebox .slides .slide-1 .calendar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40vw;
}

.new-timebox .slides .slide-1 .calendar-wrapper .button {
  margin-top: 1rem;
  display: inline;
  width: 10vw;
}

.new-timebox .slides .button-row {
  display: flex;
  gap: 1rem;
}

.new-timebox .slides .slide-2 .wrapper {
  height: 60vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-timebox .slides .slide-2 .wrapper svg {
  width: 30px;
  height: 30px;
}

.new-timebox .slides .slide-2 .wrapper .left {
  height: 60vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.new-timebox .slides .slide-2 .wrapper .left .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.new-timebox .slides .slide-2 .wrapper .right {
  height: 60vh;
  width: 60vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-timebox .wrapper .right .time-scroll {
  width: 40vw;
  height: 70vh;
}

.new-timebox .wrapper .right ul {
  width: 40vw;
}

.new-timebox .wrapper .right ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 4px;
}

.new-timebox .slides .slide-2 .desc {
  color: grey;
  font-size: 14px;
  padding: 16px;
}

.new-timebox .error {
  font-size: 14px;
  color: red;
}

.new-timebox .hours {
  font-size: 14px;
  padding-bottom: 6px;
}

.new-timebox .slides .slide-2 .wrapper .right .row {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.new-timebox input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s;
}

.new-timebox input[type="checkbox"]:before {
  content: "N";
  height: 1.3em;
  width: 1.3em;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: all 0.15s;
}

.new-timebox input[type="checkbox"]:checked {
  background-color: rgb(0, 0, 0);
}

.new-timebox input[type="checkbox"]:checked:before {
  content: "Y";
  color: #fff;
}
