.settings {
  height: 130vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.settings .header {
  font-size: 2.5rem;
  font-weight: bold;
}

.settings .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 120vh;
  width: 100vw;
}

.settings .col-1 {
  height: 100%;
  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.settings .col-2 {
  height: 100%;
  width: 60vw;

  padding-left: 2rem;
  border-left: 1px solid grey;
}
.settings .col-1 .group {
  padding-top: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 15vw;
}

.settings .group {
  display: flex;
  flex-direction: column;

  width: 20vw;
  gap: 1rem;
}

.settings .group-1 {
  height: 15vh;
}

.settings .group-2 {
  height: 15vh;
}

.settings .group-3 {
  height: 20vh;
}

.settings .group-4 {
  height: 20vh;
}

.settings .col-1 .group-4 .title {
  color: red;
}

.settings .col-2 .group-4 .button {
  background-color: red;
  color: white;
}

.settings .col-2 .group-4 .button:hover {
  background-color: rgb(214, 0, 0);
}

.settings .col-1 .title {
  color: grey;
  font-weight: 500;
}
