.button {
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s;

  width: 150px;
}

.button:hover {
  background-color: #3b3b3b;
}

.button:disabled {
  background-color: #747474;
}

.button.outline {
  background-color: #fff;
  color: rgb(0, 132, 255);
}

.button.outline:hover {
  background-color: #ebebeb;
  color: rgb(0, 81, 255);
}

.button.outline:disabled {
  background-color: #eaeaea;
  color: rgb(131, 170, 255);
  cursor: not-allowed;
}

.button.outline:disabled:hover {
  background-color: #eaeaea;
  color: rgb(131, 170, 255);
}

.button svg {
  /* display: inline; */
  width: 16px;
  height: 16px;
}
